@import '../common';

.ui-dropdown {
  position: relative;

  & > .ui-icon-expand-less,
  & > .ui-icon-expand-more {
    right: 4px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    pointer-events: none;
  }

  .ui-dropdown-button {
    height: 32px;
    width: 100%;
    padding-left: 12px;
    padding-right: 20px;

    &[disabled] {
      background-color: $ui-color-gray-light-3 !important;
      color: $ui-font-color !important;
    }
  }

  .ui-dropdown-button-container {
    position: relative;
  }

  &.ui-dropdown-opened {
    .ui-dropdown-button {
      border-color: $ui-color-brand-primary;
      background-color: $ui-color-white;
      box-shadow: 0 0 0 1px $ui-color-brand-primary-light,
        inset 0 0 0 1px $ui-color-brand-primary-light;
    }
  }

  .ui-dropdown-label ~ .ui-icon-expand-less,
  .ui-dropdown-label ~ .ui-icon-expand-more {
    margin-top: -5px;
  }

  &.disabled {
    .ui-icon-expand-less,
    .ui-icon-expand-more {
      opacity: 0.1;
    }
  }
}

.ui-dropdown-content {
  position: fixed;
  background-color: $ui-color-white;
  border-radius: $ui-border-radius;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  animation: UIFadeIn 0.2s;
  padding: 24px;
  overflow: auto;
}

.ui-dropdown {
  .ui-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-top: 2px;
  }
}
