@import '../common.scss';

.ui-select {
  &.ui-with-error .ui-dropdown .ui-dropdown-button {
    border-color: $ui-color-brand-danger;
  }
  .ui-error-text {
    font-size: $ui-font-size-s;
    color: $ui-color-brand-danger;
  }
}
.ui-select_dropdown {
  position: relative;
  .ui-dropdown-content {
    padding: 0;
    max-height: none;
    .ui-select-search-container {
      padding: 8px;
    }
    .ui-select-scroll-content {
      max-height: 240px;
      overflow: auto;
    }
    .ui-select-empty-state {
      height: 32px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #828282;
    }
  }
}
