@import '../common.scss';

.ui-multiselect_dropdown {

  .ui-dropdown-content {
    padding: 0;

    .ui-multiselect-search {
      padding: 16px;
      border-bottom: 1px solid #E6E6E6;
    }

    .ui-multiselect-item {
      align-items: center;
      display: flex;
      height: 40px;
      cursor: pointer;
      padding-left: 16px;
      padding-right: 16px;

      .ui-checkbox {
        margin-right: 16px;
      }

      &:hover {
        background-color: $ui-color-gray-light-2;
      }
    }
  }
}
