@import '../common.scss';

.ui-multiselect_dropdown .ui-dropdown-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  .ui-multiselect-search {
    padding: 8px;
    border-bottom: 1px solid #E6E6E6;
  }
  .ui-list {
    flex: 1;
    overflow: auto;
    .ui-multiselect-item {
      align-items: center;
      display: flex;
      height: 40px;
      cursor: pointer;
      padding-left: 16px;
      padding-right: 16px;
      .ui-checkbox {
        margin-right: 16px;
      }
      &:hover {
        background-color: $ui-color-gray-light-2;
      }
    }
  }
}
.ui-multiselect {
  &.ui-with-error .ui-dropdown .ui-dropdown-button {
    border-color: $ui-color-brand-danger;
  }
  .ui-error-text {
    font-size: $ui-font-size-s;
    color: $ui-color-brand-danger;
  }
}
