@import "../common";

.ui-loading-dotted {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;

  > span {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $ui-color-brand-primary;
    margin: 2px;
    animation: blink .3s infinite alternate;
  }

  > span:nth-child(2) {
    animation-delay: .1s;
  }

  > span:nth-child(2) {
    animation-delay: .2s;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
}
