@import '../common';

.ui-text-field {
  @include font;
  box-sizing: border-box;
  label {
    display: block;
    width: 100%;
    font-weight: normal;
  }
  .ui-label {
    @include label;
  }
  .ui-text-field-input-wrap {
    display: flex;
    position: relative;
    background-color: $ui-color-white;
  }
  input,
  textarea {
    color: $ui-font-color;
    font-family: $ui-font-family;
    font-size: $ui-font-size;
    display: block;
    width: 100%;
    padding: 8px 12px;
    outline: none;
    border: 1px solid $ui-color-gray;
    background-color: $ui-color-white;
    border-radius: $ui-border-radius;
    &:hover:not(:focus):not([disabled]) {
      background-color: $ui-color-gray-lightest;
    }
    &:focus {
      border-color: $ui-color-brand-primary;
      box-shadow: 0 0 0 2px $ui-color-brand-primary-light;
    }
    &[disabled] {
      border-color: $ui-color-gray-light-3;
      background-color: $ui-color-gray-light-3;
    }
  }
  .ui-text-area-wrapper {
    position: relative;
  }
  input {
    height: 32px;
  }
  textarea {
    min-height: 48px;
    resize: vertical;
  }
  &.ui-no-resize {

    textarea {
      resize: none;
    }
  }
  &.ui-inline {
    display: flex;
    .ui-label {
      font-size: $ui-font-size-xs;
      align-items: center;
      display: flex;
      padding-right: 8px;
      height: 32px;
      width: auto;
      margin-bottom: 0;
    }
  }
  &.ui-type-search {
    input {
      padding-right: 28px;
    }
    .ui-icon-search,
    .ui-icon-close {
      position: absolute;
      right: 4px;
      top: 4px;
      color: $ui-color-gray;
    }
    .ui-icon-close {
      cursor: pointer;
      color: $ui-color-white;
      background: $ui-color-gray;
      border-radius: 50%;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
    input:focus + .ui-icon-close {
      background: $ui-color-brand-primary;
    }
  }
  &.ui-state-error {
    input,
    textarea {
      border-color: $ui-color-brand-danger;
      &:focus {
        box-shadow: 0 0 0 2px rgba($ui-color-brand-danger, 0.25);
      }
    }
  }
  .ui-text-field-number-control-plus {
    top: 1px;
    bottom: 50%;
    border-radius: 0 3px 0 0;
    border-bottom: none;
    &::after {
      border-color: transparent transparent #dcdcdc;
    }
  }
  .ui-text-field-number-control-minus {
    top: 50%;
    bottom: 1px;
    border-radius: 0 0 3px 0;
    &::after {
      border-color: #dcdcdc transparent transparent;
    }
  }
}
