@import '../common';

.ui-text-field {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  position: relative;
  line-height: $ui-line-height;

  label {
    display: block;
    width: 100%;
    font-weight: normal;
  }

  .ui-label {
    font-size: $ui-font-size-xxs;
    text-transform: uppercase;
    color: rgba($ui-font-color, 0.6);
  }

  input,
  textarea {
    color: $ui-font-color;
    font-family: $ui-font-family;
    font-size: $ui-font-size;
    display: block;
    width: 100%;
    border: 1px solid $ui-color-gray;
    border-radius: $ui-border-radius;
    padding: 8px 12px;
    background-color: $ui-color-white;
    outline: none;

    &:hover:not(:focus):not([disabled]) {
      background-color: rgba($ui-color-gray-lightest, 0.1);
    }

    &:focus {
      border-color: $ui-color-brand-primary;
      box-shadow: 0 0 0 2px $ui-color-brand-primary-light;
    }

    &[disabled] {
      border-color: $ui-color-gray-light-3;
      background-color: $ui-color-gray-light-3;
    }
  }

  input {
    height: 32px;
  }

  textarea {
    min-height: 48px;
  }

  &.ui-no-resize {
    textarea {
      resize: none;
    }
  }

  &.ui-inline {
    display: flex;

    .ui-label {
      font-size: $ui-font-size-xs;
      align-items: center;
      display: flex;
      padding-right: 8px;
      height: 32px;
      width: auto;
    }
  }

  &.ui-type-search {
    input,
    textarea {
      padding-left: 28px;
      padding-right: 28px;
    }

    .ui-icon-search,
    .ui-icon-close {
      position: absolute;
      top: 50%;
      margin-top: -3px;
      color: $ui-color-gray;
    }

    .ui-icon-search {
      left: 4px;
    }

    .ui-icon-close {
      right: 4px;
      cursor: pointer;

      &:hover {
        color: $ui-color-gray-dark;
      }
    }
  }

  &.ui-state-error {
    input,
    textarea {
      border-color: $ui-color-brand-danger;
    }
  }
}
