@import "../common";

.ui-file-field {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  position: relative;

  > input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
