@import "../../common";

.ui-option {
  @include font;
  box-sizing: border-box;
  display: flex;
  padding: 0 16px;
  height: 40px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $ui-color-gray-light-2;
  }

  &.ui-selected {
    font-weight: 500;
    color: $ui-color-brand-primary;
  }

  .ui-ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
