@import "app/styles/variables";

.ui-range {
  padding: 0.7rem 0;

  .ui-range-track {
    position: relative;
    height: 0.25rem;
    background-color: $gray;
    cursor: pointer;

    .ui-range-track-active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: $brand-primary;
    }

    .ui-range-slider {
      position: absolute;
      left: 0;
      top: -0.625rem;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.125rem solid $brand-primary-light-2;
      border-radius: 50%;
      background-color: $white;
      margin-left: -0.625rem;
      transition: background-color 0.2s;
      user-select: none;

      &:hover {
        background-color: $brand-primary-light;
      }

      &:active {
        background-color: $brand-primary-light-2;
      }

      &::after {
        position: absolute;
        left: 0.5625rem;
        top: 0.4375rem;
        width: 0.125rem;
        height: 0.125rem;
        background-color: $brand-primary;
        box-shadow: 0.25rem 0 $brand-primary, 0.25rem 0.25rem $brand-primary, 0 0.25rem $brand-primary, -0.25rem 0.25rem $brand-primary, -0.25rem 0 $brand-primary;
        content: "";
      }
    }
  }
}
