@import '../common';

.ui-tags-field {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  line-height: $ui-line-height;
  box-sizing: border-box;

  .ui-tags-field-content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $ui-color-gray;
    border-radius: $ui-border-radius;
    padding: 3px 1px 1px 3px;
    cursor: text;
  }

  &:hover:not(.ui-focused):not(.ui-disabled) .ui-tags-field-content {
    background-color: $ui-color-gray-lightest;
  }

  &.ui-focused .ui-tags-field-content {
    border-color: $ui-color-brand-primary;
    box-shadow: 0 0 0 2px $ui-color-brand-primary-light;
  }

  &.ui-tags-field-error .ui-tags-field-content {
    border-color: $ui-color-brand-danger;
  }

  &.ui-tags-field-error.ui-focused .ui-tags-field-content {
    box-shadow: 0 0 0 2px rgba($ui-color-brand-danger, 0.25);
  }

  &.ui-disabled .ui-tags-field-content {
    border-color: $ui-color-gray-light-3;
    background-color: $ui-color-gray-light-3;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0 4px;
    height: 26px;
    margin-bottom: 2px;
  }

  .ui-tags-field-tag {
    height: 26px;
    background-color: $ui-color-brand-primary;
    color: $ui-color-white;
    font-size: $ui-font-size-s;
    font-weight: normal;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    cursor: default;

    .ui-tags-field-tag-remove {
      cursor: pointer;

      svg {
        display: block;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .ui-label {
    font-family: $ui-font-family;
    color: $ui-font-color;
    font-size: $ui-font-size-xxs;
    text-transform: uppercase;
    color: rgba($ui-font-color, 0.6);
    font-weight: 500;
    line-height: $ui-font-size-xxs + 1;
    margin-bottom: 4px;
  }
}
