@import '../common';

.ui-tags-field {
  @include font;
  box-sizing: border-box;
  .ui-tags-field-content {
    border: 1px solid $ui-color-gray;
    border-radius: $ui-border-radius;
    padding: 3px 1px 1px 3px;
    cursor: text;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &:hover:not(.ui-focused):not(.ui-disabled) .ui-tags-field-content {
    background-color: $ui-color-gray-lightest;
  }
  &.ui-focused .ui-tags-field-content {
    border-color: $ui-color-brand-primary;
    box-shadow: 0 0 0 2px $ui-color-brand-primary-light;
  }
  &.ui-with-error {
    .ui-tags-field-content {
      border-color: $ui-color-brand-danger;
    }
    &.ui-focused .ui-tags-field-content {
      box-shadow: 0 0 0 2px rgba($ui-color-brand-danger, 0.25);
    }
  }
  &.ui-disabled .ui-tags-field-content {
    border-color: $ui-color-gray-light-3;
    background-color: $ui-color-gray-light-3;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    border: none;
    outline: none;
    padding: 0 4px;
    height: 24px;
    margin-bottom: 2px;
    background: none;
  }
  .ui-tags-field-tag {
    display: flex;
    height: 24px;
    background-color: $ui-color-brand-primary;
    color: $ui-color-white;
    font-size: $ui-font-size-s;
    font-weight: normal;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 1px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    cursor: default;
    max-width: 100%;
    .ui-tags-field-tag-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ui-tags-field-tag-remove {
      cursor: pointer;
      svg {
        display: block;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &.ui-disabled {
    .ui-tags-field-content {
      cursor: default;
    }
    .ui-tags-field-tag {
      background-color: #E0E0E0;
      color: #4F4F4F;
      padding-right: 8px;
      .ui-tags-field-tag-remove {
        cursor: default;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .ui-label {
    @include label;
  }
}
