@import '../common';

.ui-tags-autocomplete {
  @include font;
  box-sizing: border-box;
}
.ui-tags-autocomplete_dropdown .ui-dropdown-content {
  padding: 0;
  .ui-tags-autocomplete-items {
    box-shadow: inset 0 1px 0 #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
    .ui-tags-autocomplete-item {
      display: flex;
      min-height: 40px;
      align-items: center;
      padding: 8px 16px;
      cursor: pointer;
      &:hover {
        background-color: rgba(#333333, 0.05);
      }
      &.ui-tags-autocomplete-item-not-found {
        cursor: default;
        &:hover {
          background-color: inherit;
        }
      }
      &.ui-tags-autocomplete-item-loading {
        justify-content: center;
      }
    }
  }
}
