@import '../common';

.ui-label {
  font-size: $ui-font-size-xxs;
  text-transform: uppercase;
  color: rgba($ui-font-color, 0.6);
  font-weight: 500;
  line-height: $ui-font-size-xxs + 1;
  margin-bottom: 4px;
}
