.ui-row {
  display: flex;

  &.ui-row-gutter {
    margin-left: -8px;
    margin-right: -8px;
  }

  &.ui-row-gutter-small {
    margin-left: -4px;
    margin-right: -4px;
  }

  &.ui-row-gutter-large {
    margin-left: -16px;
    margin-right: -16px;
  }
}
