.content {
  font-family: Roboto, "-apple-system", "system-ui", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  line-height: 1.4;
  font-size: 14px;
  padding: 8px;
  height: 100vh;
  max-height: 100%;
}
