@import "../common";

.ui-file-field {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  line-height: $ui-line-height;
  box-sizing: border-box;
  position: relative;

  .ui-file-field-content {
    cursor: pointer;
  }

  > input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
