.ui-autocomplete {

  .ui-dropdown {

    .ui-dropdown-button-container {

      .ui-text-field {
        position: relative;
        z-index: 2;
      }
    }

    .ui-dropdown-content {
      padding: 60px 0 0;
      top: 0;
      margin-top: 0;
      left: -16px;
      width: auto;
      right: -16px;

      .ui-autocomplete-items {
        box-shadow: inset 0 1px 0 #f0f0f0;
        max-height: 260px;
        overflow-x: hidden;
        overflow-y: auto;

        .ui-autocomplete-item {
          display: flex;
          min-height: 40px;
          align-items: center;
          padding: 8px 16px;
          cursor: pointer;

          &:hover {
            background-color: rgba(#333333, 0.05);
          }

          &.ui-autocomplete-item-not-found {
            cursor: default;

            &:hover {
              background-color: inherit;
            }
          }

          &.ui-autocomplete-item-loading {
            justify-content: center;
          }
        }
      }
    }
  }
}
