.ui-row-gutter > .ui-column + .ui-column {
  margin-left: 16px;
}

.ui-row-gutter-small > .ui-column + .ui-column {
  margin-left: 8px;
}

.ui-row-gutter-large > .ui-column + .ui-column {
  margin-left: 32px;
}
