@import '../common';

.ui-radio {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  line-height: $ui-line-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  & > input {
    position: absolute;
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  & > .ui-fake-radio {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid $ui-color-gray;
    background-color: $ui-color-white;
    border-radius: 8px;
    transition: border 0.25s;
  }
  &:hover > .ui-fake-radio {
    background-color: $ui-color-gray-light-2;
  }
  & > .ui-label {
    font-family: $ui-font-family;
    font-weight: 500;
    line-height: $ui-font-size-xxs + 1;
    text-transform: uppercase;
    color: rgba($ui-font-color, 0.6);
    font-size: $ui-font-size-xs;
    align-items: center;
    display: flex;
    padding-left: 8px;
    padding-top: 1px;
    height: 32px;
    margin-bottom: 0;
  }
  &.ui-radio-checked > .ui-fake-radio {
    border: 4px solid $ui-color-brand-primary;
  }
  &.ui-disabled {
    cursor: default;
    .ui-fake-radio {
      border-color: rgba($ui-color-disabled, 0.8);
      background-color: $ui-color-white;
    }
    .ui-label {
      color: rgba($ui-font-color, 0.3);
    }
  }
}
.ui-radio-group.ui-with-error .ui-radio > input + .ui-fake-radio {
  border-color: $ui-color-brand-danger;
}
