@import '../common';

.ui-dropdown {
  @include font;
  box-sizing: border-box;
  position: relative;
  & > .ui-icon-expand-less,
  & > .ui-icon-expand-more {
    right: 4px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    pointer-events: none;
  }
  .ui-dropdown-button {
    height: 32px;
    width: 100%;
    padding-left: 12px;
    padding-right: 28px;
    text-align: left;
    &[disabled] {
      background-color: $ui-color-gray-light-3 !important;
      color: $ui-font-color !important;
    }
  }
  .ui-dropdown-button-container {
    position: relative;
  }
  .ui-dropdown-label ~ .ui-icon-expand-less,
  .ui-dropdown-label ~ .ui-icon-expand-more {
    margin-top: -5px;
  }
  &.ui-disabled {
    .ui-icon-expand-less,
    .ui-icon-expand-more {
      opacity: 0.1;
    }
  }
  .ui-label {
    @include label;
  }
  .ui-ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.ui-dropdown-content {
  @include font;
  box-sizing: border-box;
  position: fixed;
  background-color: $ui-color-white;
  border-radius: $ui-border-radius;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  overflow: auto;
  z-index: 10;
  max-height: 240px;
}
.ui-dropdown {
  .ui-dropdown-content {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
  }
  &.ui-align-right {
    left: auto;
    right: 0;
  }
}
