@import "../common";

.ui-dropdown {
  position: relative;

  .ui-dropdown-label {
    font-size: $ui-font-size-xxs;
    text-transform: uppercase;
    color: rgba($ui-font-color, 0.6);
  }

  & > .ui-icon-expand-less,
  & > .ui-icon-expand-more {
    right: 4px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    pointer-events: none;
  }

  .ui-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 24px;
    margin-top: 2px;
  }

  .ui-dropdown-button {
    height: 32px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .ui-dropdown-button-container {
    position: relative;
  }

  &.ui-dropdown-opened {

    .ui-dropdown-button {
      border-color: $ui-color-brand-primary;
      background-color: $ui-color-white;
      box-shadow: 0 0 0 1px $ui-color-brand-primary-light, inset 0 0 0 1px $ui-color-brand-primary-light;
    }
  }

  .ui-dropdown-label ~ .ui-icon-expand-less,
  .ui-dropdown-label ~ .ui-icon-expand-more {
    margin-top: -5px;
  }
}

.ui-dropdown-content {
  position: fixed;
  z-index: 100;
  animation: UIFadeIn 0.2s;
  overflow: auto;
}
