@import '../common';

.ui-dropdown {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  line-height: $ui-line-height;
  box-sizing: border-box;
  position: relative;
  & > .ui-icon-expand-less,
  & > .ui-icon-expand-more {
    right: 4px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    pointer-events: none;
  }
  .ui-dropdown-button {
    height: 32px;
    width: 100%;
    padding-left: 12px;
    padding-right: 28px;
    text-align: left;
    &[disabled] {
      background-color: $ui-color-gray-light-3 !important;
      color: $ui-font-color !important;
    }
  }
  .ui-dropdown-button-container {
    position: relative;
  }
  .ui-dropdown-label ~ .ui-icon-expand-less,
  .ui-dropdown-label ~ .ui-icon-expand-more {
    margin-top: -5px;
  }
  &.disabled {
    .ui-icon-expand-less,
    .ui-icon-expand-more {
      opacity: 0.1;
    }
  }
  .ui-label {
    font-family: $ui-font-family;
    color: $ui-font-color;
    font-size: $ui-font-size-xxs;
    text-transform: uppercase;
    color: rgba($ui-font-color, 0.6);
    font-weight: 500;
    line-height: $ui-font-size-xxs + 1;
    margin-bottom: 4px;
  }
  .ui-ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.ui-dropdown-content {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  line-height: $ui-line-height;
  box-sizing: border-box;
  position: fixed;
  background-color: $ui-color-white;
  border-radius: $ui-border-radius;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  overflow: auto;
  z-index: 1;
}
.ui-dropdown {
  .ui-dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 2px;
  }
}
