@import "app/styles/variables";

.button-text-field {
  font-size: 16px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;

  &.full-width {
    width: 100%;
    display: block;
  }

  &.with-label {
    padding-top: 14px;
  }

  .label {
    position: absolute;
    line-height: 1;
    top: 0;
    z-index: 1;
    transform-origin: left top 0;
    pointer-events: none;
    user-select: none;
    color: rgba(0, 0, 0, .3);
    transition: transform .3s cubic-bezier(0.23, 1, 0.32, 1);;
    transform: scale(1) translate(0, 24px);
  }

  &.filled .label {
    transform: scale(0.75) translate(0, 0);
  }

  .button {
    display: block;
    padding: 0;
    height: 36px;
    line-height: 36px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $gray-dark;
    cursor: inherit;
    font: inherit;
    text-align: left;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    opacity: 1;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: textfield;

    .hint-text {
      color: $text-muted;
    }
  }

  .underline {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $gray-50;
  }

  .underline-error {
    transform: scaleX(0);
    border-color: $brand-danger;
    border-width: 2px;
    transition: transform .45s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &.error .underline-error {
    transform: scaleX(1);
  }

  .error-text {
    top: 100%;
    color: $brand-danger;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
  }
}
