@import "../common";

.ui-table {
  font-family: $ui-font-family;
  font-size: $ui-font-size;
  color: $ui-font-color;
  width: 100%;

  .ui-row {
    display: flex;

    .ui-head {
      display: flex;
      align-items: center;
      border-top: 1px solid $ui-color-gray;
      background-color: $ui-color-gray-light-2;
      text-transform: uppercase;
      color: rgba(51, 51, 51, 0.4);
      font-size: $ui-font-size-xs;
      height: 32px;
      font-weight: 500;
      padding-left: 16px;
      padding-right: 16px;

      &:first-child {
        border-radius: 4px 0 0 0;
        border-left: 1px solid $ui-color-gray;
      }

      &:last-child {
        border-radius: 0 4px 0 0;
        border-right: 1px solid $ui-color-gray;
      }
    }

    .ui-cell {
      display: flex;
      align-items: center;
      font-size: $ui-font-size-s;
      min-height: 32px;
      border-top: 1px solid $ui-color-gray;
      padding-left: 16px;
      padding-right: 16px;
      transition: background-color 0.25s;

      &:first-child {
        border-left: 1px solid $ui-color-gray;
      }

      &:last-child {
        border-right: 1px solid $ui-color-gray;
      }
    }

    &:hover {

      .ui-cell {
        background-color: $ui-color-gray-lightest;
      }
    }

    &:last-child {

      .ui-cell {
        border-bottom: 1px solid $ui-color-gray;

        &:first-child {
          border-radius: 0 0 0 4px;
        }

        &:last-child {
          border-radius: 0 0 4px 0;
        }
      }
    }
  }
}
