.ui-row-gutter > .ui-column {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ui-row-gutter-small > .ui-column {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ui-row-gutter-large > .ui-column {
  padding-left: 1rem;
  padding-right: 1rem;
}
